p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
div,
span,
textarea,
input {
  font-family: sans-serif;
  margin: 0;
  outline: none !important;
}
p {
  margin: 0 !important;
  word-break: break-all;
}
body {
  margin: 0;
  background-color: var(--color-primary) !important;
}

h2 {
  word-break: break-all;
}

.board {
  width: 100vw;
  height: 100vh;
  padding: 3rem 2rem;
  display: flex;
  align-items: flex-start;
}
.board--list {
  min-width: 250px;
  max-width: 250px;
  max-height: 100%;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(39, 39, 39, 0.5);
  margin: 0 5px;
}
.board--list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  min-height: 60px;
}
.board--list-card {
  background-color: var(--color-light);
  display: flex;
  align-items: center;
  margin: 6px 10px;
  border-radius: 4px;
  padding: 10;
}
.board--list-body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 60vh;
}
.board--list-footer {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.board--list-footer p {
  font-size: 0.7em;
}
.board--list-new {
  min-width: 250px;
  max-width: 250px;
  height: 100px;
  border: 1px dashed white;
  border-radius: 5px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.board--list-empty {
  min-height: 50px;
  max-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
